@media only screen and (min-width: 768px) {
  .list {
    height: auto;
    min-height: 100vh;
    display: flex;
    margin-top: 10px;
    background-color: aliceblue;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding-bottom: 70px;
    transition-delay: 2s;
    transition: all 2s ease;
  }
  .todo-li {
    border: 2px solid green;
    min-width: 400px;
    background-color: rgb(232, 248, 235);
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 10px;
    padding: 10px 0 2px 0;
    border-radius: 10px;
    list-style-type: none;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .todo-li:hover {
    box-shadow: 10px 0px 10px rgb(5, 129, 59);
    transform-origin: left;
    transition: all 0.3s ease-in;
  }
  .todo-li-completed {
    min-width: 400px;
    background-color: rgb(251, 252, 230);
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 10px;
    padding: 10px 0 2px 0;
    border-radius: 10px;
    list-style-type: none;
    border: 2px solid rgb(248, 248, 186);
    transition: all 0.3s ease;
    text-decoration: line-through;
  }
  h2 {
    margin-bottom: 30px;
  }
  .value {
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
    border-bottom: 1px solid green;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .value-completed {
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
    padding-top: 10px;
    display: flex;
    border-bottom: 2px solid rgb(248, 248, 182);
    padding-bottom: 10px;
  }
  .value-completed p {
    max-width: 260px;
    min-height: 40px;
    opacity: 0.4;
  }
  .value p {
    max-width: 260px;
    min-height: 40px;
  }

  .li-btns {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
  }
  #complete-btn {
    width: min-content;
    height: 13px;
    background-color: white;
    color: dodgerblue;
    font-weight: bold;
    border-radius: 5px;
    padding: 20px 10px 20px 8px;
    transition: all 0.3s ease;
  }
  #edit-btn {
    color: darkorchid;
    height: 13px;
    padding: 20px 10px 20px 8px;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  #remove-btn {
    padding: 20px 10px 20px 8px;
    width: min-content;
    background-color: white;
    height: 13px;
    font-weight: bold;
    color: red;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  #complete-btn:hover {
    border-left: 5px solid dodgerblue;
    background-color: rgba(206, 228, 250, 0.664);
  }
  #remove-btn:hover {
    border-left: 5px solid red;
    background-color: rgba(247, 201, 201, 0.705);
  }
  #edit-btn:hover {
    border-left: 5px solid rgb(169, 0, 253);
    background-color: rgb(239, 215, 250);
  }
  #edit-btn:disabled {
    opacity: 0.3;
  }
  .completed-icon {
    font-size: 35px;
    color: rgb(80, 91, 245);
    margin-right: 10px;
    font-weight: bold;
  }
  .alert-dialog {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #alert-btn {
    background-color: dodgerblue;
    height: fit-content;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .list {
    height: auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    margin-top: 10px;
    background-color: aliceblue;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding-bottom: 70px;
    transition-delay: 2s;
    transition: all 2s ease;
  }
  .todo-li {
    border: 2px solid green;
    width: 250px;
    background-color: rgb(232, 248, 235);
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 10px;
    font-size: 10pt;
    padding: 10px 0 2px 0;
    border-radius: 10px;
    list-style-type: none;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .todo-li:hover {
    box-shadow: 10px 0px 10px rgb(5, 129, 59);
    transform-origin: left;
    transition: all 0.3s ease-in;
  }
  .todo-li-completed {
    width: 250px;
    font-size: 10pt;
    background-color: rgb(251, 252, 230);
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 10px;
    padding: 10px 0 2px 0;
    border-radius: 10px;
    list-style-type: none;
    border: 2px solid rgb(248, 248, 186);
    transition: all 0.3s ease;
    text-decoration: line-through;
  }
  h2 {
    margin-bottom: 30px;
    font-size: 17pt;
  }
  .value {
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
    border-bottom: 1px solid green;

    padding-bottom: 10px;
  }
  .value-completed {
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
    display: flex;
    border-bottom: 2px solid rgb(248, 248, 182);
    padding-bottom: 10px;
  }
  .value-completed p {
    max-width: 200px;
    min-height: 30px;
    opacity: 0.4;
  }
  .value p {
    max-width: 200px;
    min-height: 30px;
  }

  .li-btns {
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
  }
  #complete-btn {
    width: min-content;
    height: 13px;
    background-color: white;
    color: dodgerblue;
    font-weight: bold;
    border-radius: 5px;
    padding: 15px 5px 15px 3px;
    transition: all 0.3s ease;
  }
  #edit-btn {
    color: darkorchid;
    height: 13px;
    padding: 15px 5px 15px 3px;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  #remove-btn {
    padding: 15px 5px 15px 3px;
    width: min-content;
    background-color: white;
    height: 13px;
    font-weight: bold;
    color: red;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  #complete-btn:hover {
    border-left: 5px solid dodgerblue;
    background-color: rgba(206, 228, 250, 0.664);
  }
  #remove-btn:hover {
    border-left: 5px solid red;
    background-color: rgba(247, 201, 201, 0.705);
  }
  #edit-btn:hover {
    border-left: 5px solid rgb(169, 0, 253);
    background-color: rgb(239, 215, 250);
  }
  #edit-btn:disabled {
    opacity: 0.3;
  }
  .completed-icon {
    font-size: 25px;
    color: rgb(80, 91, 245);
    margin-right: 10px;
    font-weight: bold;
  }
  .alert-dialog {
    height: 200px;
    width: 300px;
    justify-content: center;
    align-items: center;
  }
}
